<!DOCTYPE html>
<html>

<head>

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>EVENT-Site</h1>
     <div class="Div-1">
        
          <a href="/add">Add Event</a>
          <a href="/home">Show all Events</a>
        
     </div>
    
    <div>

    <form class="form-1" action="/home/date" method="get">
         <label for="Date">Filter by Date:</label>
         <select name="Date" id="Date">
         <option label=" "></option>
         <option value="Newest-first">Newest-first</option>
         <option value="Oldest-first">Oldest-first</option>
         </select>

      <label for="Category">Filter by Category</label>
      <input type="text" name="Category">

      <label for="Location">Filter by Location</label>
      <input type="text" name="Location">

      <input type="submit">
    </form>
  </div>

  
  <div class="event-details">

    <% result.forEach((result)=> { %>
      <div class="event-details-box">

        <li> Title:
          <%= result.Title %>
        </li>
        <li> Date:
          <%= result.startDate %>
        </li>
        <a href="/EventDetails/<%= result._id %>">Details</a>
      </div>
      <% }); %>


  </div>



</body>

</html>